@media screen and (min-width: 768px) and (max-width: 992px) {
    /* PAGE */

html {
    min-width: 768px;
    max-width: 992px;
}

/* PAGE */

/* FILTERS */

.search_filters {
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
}

.search_filters_filter {
    margin: 0px 15px;
}

/* FILTERS */

/* HOSTING */

.hosting {
    flex-direction: column-reverse;
}

/* HOSTING POPULAR */

.hosting_popular {
    margin: 20px 0px 20px 0px;
}

.hosting_popular_cards {
    flex-direction: row;
}

.hosting_popular_card {
    width: 30%;
}

/* HOSTING POPULAR */

/* HOSTING MAIN */

.hosting_main {
    margin: 20px 0px 20px 0px;
}

.hosting_main_card {
    width: 45%;
}

/* HOSTING MAIN */

/* HOSTING */

/* ACTIVITY */

.activity {
    margin: auto;
}

.activity_header {
    margin: 30px 0px 10px 30px;
}

.activity_cards {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.activity_card {
    margin: 20px;
    width: 44%;
    height: auto;
}

.activity_card_fig_img {
    height: 150px;
}

.activity_card_fig_caption {
    margin-left: 20px;
}

/* ACTIVITY */

/* FOOTER */

.footer {
    background-color: #F2F2F2;
    margin-top: 50px;
    margin-bottom: -10px;
    padding-top: 10px;
}

.footer_main {
    display: flex;
    padding: 20px 0px 5px 15px; 
}

.footer_main_container {
    margin-left: 30px;
}

.footer_main_title {
    margin: 0px;
    padding-left: 40px;
    font-size: 14px;
}

.footer_main_list {
    font-size: 12px;
    line-height: 30px;
}

.footer_main_list li:hover {
    text-decoration: underline;
}

/* FOOTER */

}