/* PAGE */

@font-face {
    font-family: 'Raleway-Regular';
    src: url('font/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('font/Raleway-Bold.ttf');
}

html {
    min-width: 1200px;
    max-width: 1440px;
    margin: auto;
}

body {
    font-family: 'Raleway-Regular', 'Sans serif';
    margin-top: -15px;
}

main {
    padding: 0px 15px 0px 15px;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
}

.Raleway_bold {
    font-family: 'Raleway-Bold';
}

/* PAGE */

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
}

.header_img {
    height: 70px;
    padding: 15px 15px;
}

.header_nav {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    
}

.header_nav_link {
    width: 100px;
    color: black;
    padding: 30px ;
    text-align: center;
    font-weight: 500;
}

.header_nav_link_hosting {
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.header_nav_link_activity {
    color: black;
    border-top: 4px solid transparent;
}

.header_nav_link:hover {
    color: #0065FC;
    cursor: pointer;
    border-top: 4px solid #0065FC;
}

/* HEADER */

/* SEARCH */

.search_header {
    display: flex;
    flex-direction: column;
}

.search_header_title {
    font-size: 30px;
    margin: 0px;
}

.search_header_subtitle {
    padding-bottom: 10px;
}

/* SEARCH */

/* FORM */

.search_form {
    display: flex;
    max-width: 450px;
    height: 50px;
}

.search_form_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search_form_searchinput {
    border: 1px solid #F2F2F2;
    border-radius: 0px;
    padding-left: 15px;
    width: 350px;
    font-size: 17px;
}

.search_form_submitinput {
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 200px;
    font-size: 17px;
    cursor: pointer;
}

/* FORM */

/* FILTERS */

.search_filters {
    display: flex;
    align-items: center;
    margin: 0px;
}

.search_filters_title {
    padding-right: 15px;
}

.search_filters_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    margin: 20px 15px;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.search_filters_filter:hover {
    transform: scale(1.1);
}

.search_filters_filter_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    background-color: #DEEBFF;
    border-radius: 50px;
    margin: -1px;
}

.search_filters_filter_title {
    background-color: transparent;
    padding: 5px 20px;
}

/* FILTERS */

/* SEARCH RESULT */

.search_result {
    display: flex;
    align-items: center;
}

.search_result_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
}

.search_result_text {
    padding-left: 10px;
}

/* SEARCH RESULT */

/* HOSTING */

.hosting {
    display: flex;
    flex-direction: row;
}

.hosting_background {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.hosting_title, .hosting_popular_header_icon {
    margin: 30px 30px 20px 30px;
    font-size: 20px;
}

.hosting_card {
    padding: 5px;
    margin: 15px 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    transition: transform 250ms ease-in-out;
}

.hosting_card:hover {
    transform: scale(1.05);
}

.hosting_card_fig {
    margin: 0px;
}

.hosting_card_fig_img {
    object-fit: cover;
}

.hosting_card_fig_caption {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    padding: 5px;
}

.hosting_card_fig_caption_title {
    font-size: 16px;
}

.hosting_card_from {
    font-size: 14px;
}

.hosting_card_fig_caption_space {
    flex: 2;
}

.hosting_card_stars {
    font-size: 12px;
}

.hosting_card_star_on, .search_filter_icon {
    color: #0065FC;
}

.hosting_card_star_off {
    color: #dcdcdc;
}

.hosting_card_fig_caption_title, .hosting_card_from, .hosting_card_stars {
    margin: 0px;
    padding-left: 5px;
}

/* HOSTING MAIN */

.hosting_main {
    margin: 20px 10px 20px 0px;
    flex: 2;
}

.hosting_main_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.hosting_main_card {
    width: 29%;
    height: auto;
}

.hosting_main_card_fig_img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 125px;
}

.hosting_main_card_footer {
    margin: 15px 0px 30px 30px;
}

.hosting_main_card_footer_link:hover {
    color: #0065FC;
    text-decoration: underline;
}

/* HOSTING MAIN */

/* HOSTING POPULAR */

.hosting_popular {
    margin: 20px 0px 20px 10px;
    flex: 1;
}

.hosting_popular_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hosting_popular_header_icon {
    font-size: 20px;
}

.hosting_popular_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hosting_popular_card {
    width: 90%;
    height: auto;
}

.hosting_popular_card_fig {
    display: flex;
}

.hosting_popular_card_fig_img {
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    min-width: 40%;
    height: 145px;
}

/* HOSTING POPULAR */

/* HOSTING */

/* ACTIVITY */

.activity {
    margin-top: 60px;
}

.activity_header {
    margin: 30px;
}

.activity_header_title {
    font-size: 20px;
}

.activity_card {
    border-radius: 20px;
    margin: 0px 18px;
    width: 90%;
    height: auto;
    box-shadow: 0 0 16px #0000001f;
    overflow: hidden;
}

.activity_card_fig {
    margin: 0px;
}

.activity_card_fig_img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
}

.activity_card_fig_caption {
    margin: 20px;
}

.container_main {
    display: flex;
    justify-content: space-around;
}

.container_medium_and_small {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container_medium_and_small_normal {
    flex-direction: column;
}

.container_medium_and_small_reverse {
    flex-direction: column-reverse;
}

.activity_card_fig_img_large {
    height: 450px;
}

.activity_card_fig_img_medium {
    height: 210px;
}

.activity_card_fig_img_small {
    height: 140px;
}