/* PAGE */

@font-face {
    font-family: 'Raleway-Regular';
    src: url('font/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('font/Raleway-Bold.ttf');
}

html {
    max-width: 98%;
    margin: auto;
}

body {
    font-family: 'Raleway-Regular', 'Sans serif';
    margin-top: -15px;
}

main {
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* PAGE */

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1355px;
}

.header_img {
    height: 70px;
    padding: 15px 15px;
}

.header_nav {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    
}

.header_nav_link {
    width: 100px;
    color: black;
    padding: 30px ;
    text-align: center;
    font-weight: 500;
}

.header_nav_link[data-active=true] {
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.header_nav_link[data-active=false] {
    color: black;
    border-top: 4px solid transparent;
}

.header_nav_link:hover {
    color: #0065FC;
    cursor: pointer;
    border-top: 4px solid #0065FC;
}

/* HEADER */

/* SEARCH */

.search_header {
    display: flex;
    flex-direction: column;
}

.search_header_title {
    font-family: 'Raleway-Bold';
    font-size: 30px;
    margin: 0px;
}

.search_header_subtitle {
    padding-bottom: 10px;
}

/* SEARCH */

/* FORM */

.search_form {
    display: flex;
    max-width: 450px;
    height: 50px;
}

.search_form_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search_form_searchinput {
    border: 1px solid #F2F2F2;
    border-radius: 0px;
    padding-left: 15px;
    width: 350px;
    font-size: 17px;
}

.search_form_submitinput {
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    width: 200px;
    font-size: 17px;
    cursor: pointer;
}

/* FORM */

/* FILTERS */

.search_filters {
    display: flex;
    align-items: center;
    margin: 0px;
}

.search_filters_title {
    padding-right: 15px;
    font-family: 'Raleway-Bold';
}

.search_filters_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    max-width: 300px;
    max-height: 50px;
    margin: 20px 15px;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.search_filters_filter:hover {
    transform: scale(1.1);
}

.search_filters_filter_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    background-color: #DEEBFF;
    border-radius: 50px;
    margin: -3px;
}

.search_filters_filter_title {
    padding : 20px;
    font-family: 'Raleway-Bold';
}

/* FILTERS */

/* SEARCH RESULT */

.search_result {
    display: flex;
    align-items: center;
}

.search_result_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
}

.search_result_text {
    padding-left: 10px;
}

/* SEARCH RESULT */

/* HOSTING */

.hosting {
    display: flex;
    justify-content: space-around;
    max-width: 1355px;
}

/* HOSTING MAIN */

.hosting_main {
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    max-width: 900px;
    min-width: 600px;
    margin: 20px 10px 20px 0px;
    flex: 1;
}

.hosting_main_header_title {
    margin: 30px;
}

.hosting_main_header_title, .hosting_main_card_fig_caption_title, .hosting_main_card_from_price, .hosting_main_card_footer {
    font-family: 'Raleway-Bold';
}

.hosting_main_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hosting_main_card {
    display: flex;
    align-items: stretch;
    padding: 3px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    height: 100%;
    line-height: 5px;
    margin: 0px 20px 40px 20px;
    min-width: 60px;
    transition: transform 250ms ease-in-out;
}

.hosting_main_card:hover {
    transform: scale(1.05);
}

.hosting_main_card_fig {
    margin: 0px;
}

.hosting_main_card_fig_img {
    height: 130px;
    max-height: 100%;
    width: 250px;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hosting_main_card_fig_caption_title {
    font-size: 16px;
}

.hosting_main_card_fig_caption_title, .hosting_main_card_from, .hosting_main_card_stars {
    padding-left: 10px;
}

.hosting_main_card_from {
    font-size: 14px;
}

.hosting_main_card_stars {
    font-size: 12px;
    padding-bottom: 10px;
}

.hosting_main_card_footer {
    margin: 0px 30px 30px 30px;
}

/* HOSTING MAIN */

/* HOSTING POPULAR */

.hosting_popular {
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    margin: 20px 0px 20px 10px;
    width: 415px;
    max-height: 660px;
}

.hosting_popular_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hosting_popular_header_title, .hosting_popular_card_desc_title, .hosting_popular_card_from_price {
    font-family: 'Raleway-Bold';
}

.hosting_popular_header_title, .hosting_popular_header_icon {
    margin: 30px;
}

.hosting_popular_header_icon {
    font-size: 20px;
}

.hosting_popular_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hosting_popular_card {
    display: flex;
    align-items: stretch;
    padding: 3px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    line-height: 5px;
    margin: 0px 20px 40px 15px;
    width: 100%;
    max-width: 350px;
    min-width: 350px;
    height: 155px;
    transition: transform 250ms ease-in-out;
}

.hosting_popular_card:hover {
    transform: scale(1.05);
}

.hosting_popular_card_fig {
    margin: 0px;
}

.hosting_popular_card_img {
    height: 100%;
    max-height: 100%;
    width: 135px;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.hosting_popular_card_desc {
    line-height: 20px;
    padding: 0px 10px 10px 10px;
}

.hosting_popular_card_desc_title {
    font-size: 16px;
}

.hosting_popular_card_desc_title, .hosting_popular_card_from, .hosting_popular_card_stars {
    margin: 10px;
}

.hosting_popular_card_from {
    font-size: 14px;
}

.hosting_popular_card_stars {
    font-size: 12px;
    padding-top: 35px;
}