@font-face {
    font-family: 'Raleway-Regular';
    src: url('font/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('font/Raleway-Bold.ttf');
}

html {
    max-width: 98%;
    margin: auto;
}

body {
    font-family: 'Raleway-Regular', 'Sans serif';
    margin-top: -15px;
}

main {
    padding-left: 15px;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
}

.header_img {
    height: 70px;
    padding: 15px 15px;
}

.header_nav {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    
}

.header_nav_link {
    width: 100px;
    color: black;
    padding: 30px ;
    text-align: center;
    font-weight: 500;
}

.header_nav_link[data-active=true] {
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.header_nav_link[data-active=false] {
    color: black;
    border-top: 4px solid transparent;
}

.header_nav_link:hover {
    color: #0065FC;
    cursor: pointer;
    border-top: 4px solid #0065FC;
}

/* Search */

.search_header {
    display: flex;
    flex-direction: column;
}

.search_header_title {
    font-family: 'Raleway-Bold';
    font-size: 30px;
    line-height: 5px;
}

.search_header_subtitle {
    padding-bottom: 10px;
    line-height: 11px;
}

/* Form */

.search_form {
    display: flex;
    max-width: 450px;
    height: 50px;
}

.search_form_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search_form_searchinput {
    border: 1px solid #F2F2F2;
    border-radius: 0px;
    padding-left: 15px;
    width: 350px;
    font-size: 17px;
}

.search_form_submitinput {
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    width: 200px;
    font-size: 17px;
    cursor: pointer;
}

/* Filters */

.search_filters {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.search_filters_title {
    padding-right: 15px;
    font-family: 'Raleway-Bold';
}

.search_filters_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    max-width: 300px;
    max-height: 50px;
    margin: 20px 15px;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.search_filters_filter:hover {
    transform: scale(1.1);
}

.search_filters_filter_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    background-color: #DEEBFF;
    border-radius: 50px;
    margin: -3px;
}

.search_filters_filter_title {
    padding : 20px;
    font-family: 'Raleway-Bold';
}

/* Search result */

.search_result {
    display: flex;
    align-items: center;
}

.search_result_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
}

.search_result_text {
    padding-left: 10px;
}